<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
	<head th:insert="base-template.html :: head(title='Home Page', file_css='main-index')">
	</head>
	<body>
		<div>
			<h1>Bienvenido!!!!</h1>
			<p>Usuario <span th:text="${user.username}"></span></p>
		</div>
		<p>Te has logeado correctamente en el formulario Login Custom.</p>
		<hr>
		<div>
			<p>Nombre: <span th:text="${user.surname}"></span></p>
			<p>Email:  <span th:text="${user.email}"></span></p>
			<p>Roles:  <span th:text="${user.authorities}"></span></p>
		</div>
		<hr>
		<div sec:authorize="isAuthenticated()">
			<form class="form-logout" th:action="@{/logout}" method="post">	
				<input type="submit" class="btn btn-primary btn-logout" value="Logout">
			</form>
		</div>
	</body>
</html>